/* Navbar */
.navbar {
    background: none;
    background-color: #25591f; 
    border: none; 
    border-radius: 0;
    opacity: .5; 
}

.navbar-nav { 
    display: block;
    float:none;
    margin:0 auto;
    min-height: 125px; 
    text-align: center;
    
}

.navbar-nav>li {
    display: inline-block;
    float:none;
    margin-bottom: 2px solid #fff; 
}

.navbar-default .navbar-nav>li>a {
    border-bottom: 2px solid RGBA(0,0,0,0);
    color: #fff; 
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    margin-top: 1.5em; 
    opacity: 1; 
}

.navbar-nav>li>a:hover {
    border-bottom: 2px solid #fff; 
    color: #fff !important; 
}


/* Main Home Page Image */
.main_landing {
    background-image: url('Assets/yoga_home1.1-resized.png'); 
    background-repeat: no-repeat; 
    background-position: top center; 
    background-size: cover; 
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
    height: 100vh; 
}

/* Section 2 */

#quote1 {
    color: #25591f;   
}

.photo-section1 {
    border-top: 2px solid #25591f; 
    border-bottom: 2px solid #25591f;
    min-height: 75vh;  
    
}

#quote1 {
    margin-top: 5%; 
    margin-bottom: 5%; 
}

.photo-section1 .col-md-3 {
    margin-left: 4.16%; 
    margin-right: 4.16%; 
}

.photo-section1 img {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: 33%; 
    margin-bottom: 10%
}

.btn-section2 {
    background-color: white; 
    border: 2px solid #25591f; 
    border-radius: 0; 
    color: #25591f; 
    width: 75%; 
}

.btn-section2:hover {
    background-color: #25591f; 
    border: 2px solid #25591f; 
    color: #fff; 
}

.btn-default {
    background-image: none; 
}

/* Section 3 */

#learn_more {
    background-color: #fff; 
    border: 2px solid #fff; 
    border-radius: 0; 
    color: #818c3c;
}

#learn_more:hover {
    background-color: #818c3c; 
    border: 2px solid #fff; 
    color: #fff; 
}

/* Section 4 */

#pagebreak {
    margin-top: 5%; 
}

#pagebreak img {
    margin-bottom: -1%; 
}

.new_to_yoga_section {
    background-color: #818c3c;
    padding-bottom: 5%; 
    width: 99.9%; 
}

.new_to_yoga_section h4 {
    padding-top: 5%
}

.new_to_yoga_section h4, p {
    color: #fff; 
}

.new_to_yoga_section p {
    margin: 2.5% 25%; 
    width: 50%
}

/* Mailing List */

#mailing_list_header {
    color: #25591f; 
    margin-top: 5%; 
}

form {
    border: 2px solid #25591f; 
    margin: 2.5% 12.5%; 
    padding-top: 2.5%; 
    padding-bottom: 2.5%; 
    width: 75%; 
}

#submit {
    background-color: white; 
    border: 2px solid #25591f; 
    border-radius: 0; 
    color: #25591f; 
}

#submit:hover {
    background-color: #25591f; 
    border: 2px solid #25591f; 
    color: #fff; 
}

/* Footer */

#footer {
    background-color: #818c3c; 
    margin-top: 5%; 
    min-height: 250px; 

}

.fa {
    margin: 5% 1% 2.5% 1%; 
/*
    margin-top: 5%; 
    margin-bottom: 2.5%; 
*/
    color: #fff; 
}

#footer h6 {
    color: #fff; 
}
    